<template>
  <canvas class="webgl"></canvas>
</template>
<script setup>
import * as THREE from 'three'
import { OrbitControls } from '@/utils/OrbitControls.js'
import * as dat from 'lil-gui'
import gsap from 'gsap'
import { onMounted, onBeforeUnmount } from 'vue'
onBeforeUnmount(() => {})
onMounted(() => {
  const canvas = document.querySelector('canvas.webgl')
  const scene = new THREE.Scene()
  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  }

  const geometry = new THREE.BoxGeometry(1, 1, 1)
  const material = new THREE.MeshBasicMaterial({
    color: '#905',
  })
  const mesh = new THREE.Mesh(geometry, material)
  scene.add(mesh)

  gsap.to(mesh.position, { duration: 1, delay: 1, x: 2 })
  gsap.to(mesh.position, { duration: 1, delay: 2, x: 0 })
  const camera = new THREE.PerspectiveCamera(75, sizes.width / sizes.height)
  camera.position.z = 3

  scene.add(camera)
  const renderer = new THREE.WebGLRenderer({
    canvas,
  })
  renderer.setSize(sizes.width, sizes.height)
  renderer.render(scene, camera)

  const clock = new THREE.Clock()
  const tick = () => {
    const elapsedTime = clock.getElapsedTime()
    renderer.render(scene, camera)
    window.requestAnimationFrame(tick)
  }
  tick()
})
</script>
