<template>
  <div>
    <canvas class="webgl"></canvas>
  </div>
</template>
<script setup>
import { onMounted } from 'vue'
import Experience from './Experience/Experience.js'
onMounted(() => {
  const canvas = document.querySelector('canvas.webgl')
  const hello = new Experience(canvas)
})
</script>
