<template>
  <div>
    <canvas class="webgl"></canvas>
  </div>
</template>
<script setup>
import * as THREE from 'three'
import { OrbitControls } from '@/utils/OrbitControls.js'
import { FontLoader } from '@/utils/FontLoader.js'
import { TextGeometry } from '@/utils/TextGeometry.js'
import * as dat from 'lil-gui'
import { onMounted } from 'vue'
onMounted(() => {
  const doorColor = new URL(
    '../assets/texturesLesson/door/color.jpg',
    import.meta.url
  ).href

  const typefaceFont = new URL(
    '../utils/helvetiker_regular.typeface.json',
    import.meta.url
  ).href

  const doorHeight = new URL(
    '../assets/texturesLesson/door/height.jpg',
    import.meta.url
  ).href

  const doorAO = new URL(
    '../assets/texturesLesson/door/ambientOcclusion.jpg',
    import.meta.url
  ).href

  const doorAlpha = new URL(
    '../assets/texturesLesson/door/alpha.jpg',
    import.meta.url
  ).href

  const doorMetal = new URL(
    '../assets/texturesLesson/door/metalness.jpg',
    import.meta.url
  ).href

  const doorNormal = new URL(
    '../assets/texturesLesson/door/normal.jpg',
    import.meta.url
  ).href

  const doorRoughness = new URL(
    '../assets/texturesLesson/door/roughness.jpg',
    import.meta.url
  ).href

  const matCapImg = new URL(
    '../assets/texturesLesson/matcaps/7.png',
    import.meta.url
  ).href

  const gradientImg = new URL(
    '../assets/texturesLesson/gradients/5.jpg',
    import.meta.url
  ).href

  const minecraft = new URL(
    '../assets/texturesLesson/minecraft.png',
    import.meta.url
  ).href
  const checkBoard = new URL(
    '../assets/texturesLesson/checkerboard-8x8.png',
    import.meta.url
  ).href

  const px = new URL(
    '../assets/texturesLesson/environmentMaps/1/px.jpg',
    import.meta.url
  ).href

  const nx = new URL(
    '../assets/texturesLesson/environmentMaps/1/nx.jpg',
    import.meta.url
  ).href

  const py = new URL(
    '../assets/texturesLesson/environmentMaps/1/py.jpg',
    import.meta.url
  ).href

  const ny = new URL(
    '../assets/texturesLesson/environmentMaps/1/ny.jpg',
    import.meta.url
  ).href

  const pz = new URL(
    '../assets/texturesLesson/environmentMaps/1/pz.jpg',
    import.meta.url
  ).href

  const nz = new URL(
    '../assets/texturesLesson/environmentMaps/2/nz.jpg',
    import.meta.url
  ).href

  const cubeLoader = new THREE.CubeTextureLoader()
  const cubeTexture = cubeLoader.load([px, nx, py, ny, pz, nz])
  cubeTexture.encoding = THREE.sRGBEncoding
  const textureLoader = new THREE.TextureLoader()
  const matCapTexture = textureLoader.load(matCapImg)

  const canvas = document.querySelector('canvas.webgl')
  const scene = new THREE.Scene()
  scene.background = cubeTexture
  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  }

  const textMaterial = new THREE.MeshMatcapMaterial({ matcap: matCapTexture })

  const fontLoader = new FontLoader()
  fontLoader.load(typefaceFont, (font) => {
    const textGeometry = new TextGeometry('Hello Portal', {
      font: font,
      size: 0.5,
      height: 0.2,
      curveSegments: 12,
      bevelEnabled: true,
      bevelThickness: 0.03,
      bevelSize: 0.02,
      bevelOffset: 0,
      bevelSegment: 5,
    })
    // const textMaterial = new THREE.MeshBasicMaterial({
    //   wireframe: true,
    // })
    textGeometry.center()
    console.log('textGeometry', textMaterial)
    const text = new THREE.Mesh(textGeometry, textMaterial)
    scene.add(text)
  })

  const donutGeometry = new THREE.TorusGeometry(0.3, 0.2, 20, 45)
  const donutMaterial = new THREE.MeshMatcapMaterial({ matcap: matCapTexture })
  console.time('donut')
  for (let i = 0; i < 400; i++) {
    const donut = new THREE.Mesh(donutGeometry, donutMaterial)
    donut.position.x = (Math.random() - 0.5) * 30
    donut.position.y = (Math.random() - 0.5) * 30
    donut.position.z = (Math.random() - 0.5) * 30

    donut.rotation.x = Math.random() * 0.5 * Math.PI
    donut.rotation.y = Math.random() * 0.5 * Math.PI

    const forScale = Math.random()
    donut.scale.set(forScale, forScale, forScale)

    scene.add(donut)
  }
  console.timeEnd('donut')

  const camera = new THREE.PerspectiveCamera(
    75,
    sizes.width / sizes.height,
    0.1,
    100
  )

  camera.position.x = 1
  camera.position.y = 1
  camera.position.z = 2
  //   camera.lookAt(mesh.position)
  scene.add(camera)
  //   const gui = new dat.GUI()
  const controls = new OrbitControls(camera, canvas)
  controls.enableDamping = true
  const renderer = new THREE.WebGLRenderer({
    canvas,
  })
  renderer.setSize(sizes.width, sizes.height)
  renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  renderer.render(scene, camera)

  window.addEventListener('resize', (e) => {
    sizes.width = window.innerWidth
    sizes.height = window.innerHeight

    camera.aspect = sizes.width / sizes.height
    camera.updateProjectionMatrix()

    renderer.setSize(sizes.width, sizes.height)
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  })
  window.addEventListener('dblclick', () => {
    if (document.fullscreenElement) {
      document.exitFullscreen()
    } else {
      canvas.requestFullscreen()
    }
  })
  const clock = new THREE.Clock()
  const tick = () => {
    const elapsedTime = clock.getElapsedTime()

    controls.update()
    renderer.render(scene, camera)
    window.requestAnimationFrame(tick)
  }
  tick()
})
</script>
