<template>
  <div>
    <canvas class="webgl"></canvas>
  </div>
</template>
<script setup>
import * as THREE from 'three'
import { OrbitControls } from '@/utils/OrbitControls.js'
import * as dat from 'lil-gui'
import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader.js'
import { onMounted, onBeforeUnmount } from 'vue'
let guiInstance = {}
onBeforeUnmount(() => {
  guiInstance.destroy()
})
onMounted(() => {
  /* loaders */
  const gltfLoader = new GLTFLoader()
  const textureLoader = new THREE.TextureLoader()
  const cubeTextureLoader = new THREE.CubeTextureLoader()

  /* debug */
  const gui = new dat.GUI()
  guiInstance = gui
  const debugObject = {}
  debugObject.envMapIntensity = 0.4

  gui
    .add(debugObject, 'envMapIntensity')
    .min(0)
    .max(4)
    .step(0.001)
    .onChange(() => updateAllMaterials())

  /* canvas */
  const canvas = document.querySelector('canvas.webgl')

  const updateAllMaterials = () => {
    scene.traverse((child) => {
      if (
        child instanceof THREE.Mesh &&
        child.material instanceof THREE.MeshStandardMaterial
      ) {
        child.material.envMapIntensity = debugObject.envMapIntensity
        child.material.needsUpdate = true
        child.castShadow = true
        child.receiveShadow = true
      }
    })
  }

  /* scene */
  const scene = new THREE.Scene()

  /* environment */
  const HdrLink1 = new URL('../assets/HDR/px.jpg', import.meta.url).href
  const HdrLink2 = new URL('../assets/HDR/nx.jpg', import.meta.url).href
  const HdrLink3 = new URL('../assets/HDR/py.jpg', import.meta.url).href
  const HdrLink4 = new URL('../assets/HDR/ny.jpg', import.meta.url).href
  const HdrLink5 = new URL('../assets/HDR/pz.jpg', import.meta.url).href
  const HdrLink6 = new URL('../assets/HDR/nz.jpg', import.meta.url).href
  const environmentMap = cubeTextureLoader.load([
    HdrLink1,
    HdrLink2,
    HdrLink3,
    HdrLink4,
    HdrLink5,
    HdrLink6,
  ])

  environmentMap.encoding = THREE.sRGBEncoding
  scene.environment = environmentMap

  /* models */
  let foxMixer = null
  const foxModel = new URL(
    '../assets/bigger/Fox/glTF-Binary/Fox.glb',
    import.meta.url
  ).href
  gltfLoader.load(foxModel, (gltf) => {
    gltf.scene.scale.set(0.02, 0.02, 0.02)
    scene.add(gltf.scene)
    foxMixer = new THREE.AnimationMixer(gltf.scene)
    const foxAction = foxMixer.clipAction(gltf.animations[1])
    foxAction.play()
    updateAllMaterials()
  })

  /*   lights
   */
  const directionLight = new THREE.DirectionalLight('#ffffff', 4)
  directionLight.castShadow = true
  directionLight.shadow.camera.far = 15
  directionLight.shadow.mapSize.set(1024, 1024)
  directionLight.shadow.normalBias = 0.5
  directionLight.position.set(3.5, 2, -1.25)
  scene.add(directionLight)

  gui
    .add(directionLight, 'intensity')
    .min(0)
    .max(10)
    .step(0.001)
    .name('lightIntensity')

  gui
    .add(directionLight.position, 'x')
    .min(-5)
    .max(5)
    .step(0.001)
    .name('lightX')
  gui
    .add(directionLight.position, 'y')
    .min(-5)
    .max(5)
    .step(0.001)
    .name('lightY')
  gui
    .add(directionLight.position, 'z')
    .min(-5)
    .max(5)
    .step(0.001)
    .name('lightZ')

  /* floor */
  const floorColorLink = new URL(
    '../assets/bigger/Fox/dirt/Rock048_4K_Color.jpg',
    import.meta.url
  ).href

  const floorNormalLink = new URL(
    '../assets/bigger/Fox/dirt/Rock048_4K_NormalGL.jpg',
    import.meta.url
  ).href

  const floorColorMaterial = textureLoader.load(floorColorLink)
  const floorNormalMaterial = textureLoader.load(floorNormalLink)
  floorColorMaterial.encoding = THREE.sRGBEncoding
  floorColorMaterial.repeat.set(2.5, 2.5)
  floorColorMaterial.wrapS = THREE.RepeatWrapping
  floorColorMaterial.wrapT = THREE.RepeatWrapping

  floorNormalMaterial.repeat.set(2.5, 2.5)
  floorNormalMaterial.wrapS = THREE.RepeatWrapping
  floorNormalMaterial.wrapT = THREE.RepeatWrapping

  const floorGeometry = new THREE.CircleGeometry(5, 64)
  const floorMaterial = new THREE.MeshStandardMaterial({
    map: floorColorMaterial,
    normalMap: floorNormalMaterial,
    side: THREE.DoubleSide,
  })
  const floor = new THREE.Mesh(floorGeometry, floorMaterial)
  floor.rotation.x = -0.5 * Math.PI
  scene.add(floor)

  /* camera */
  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  }
  window.addEventListener('resize', () => {
    sizes.width = window.innerWidth
    sizes.height = window.innerHeight

    camera.aspect = sizes.width / sizes.height
    camera.updateProjectionMatrix()

    renderer.setSize(sizes.width, sizes.height)
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  })
  const camera = new THREE.PerspectiveCamera(
    35,
    sizes.width / sizes.height,
    0.1,
    100
  )
  camera.position.set(6, 4, 8)
  scene.add(camera)

  /* controls */
  const controls = new OrbitControls(camera, canvas)
  controls.enableDamping = true

  /* renderer */
  const renderer = new THREE.WebGLRenderer({
    canvas,
    antialias: true,
  })

  renderer.physicallyCorrectLights = true
  renderer.outputEncoding = THREE.sRGBEncoding
  renderer.shadowMap.enabled = true
  renderer.shadowMap.type = THREE.PCFSoftShadowMap
  renderer.toneMapping = THREE.CineonToneMapping
  renderer.toneMappingExposure = 1.75
  renderer.setClearColor('#211d20')
  renderer.setSize(sizes.width, sizes.height)
  renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))

  const clock = new THREE.Clock()
  let previousTime = 0
  const tick = () => {
    const elapsedTime = clock.getElapsedTime()
    const deltaTime = elapsedTime - previousTime
    previousTime = elapsedTime

    controls.update()

    if (foxMixer) {
      foxMixer.update(deltaTime)
    }

    renderer.render(scene, camera)
    window.requestAnimationFrame(tick)
  }

  tick()
})
</script>
