<template>
  <div class="centerCon">
    <div class="mainTitle">Learning Three.js</div>
    <div class="entranceOuter">
      <div class="entranceCon">
        <div
          v-for="(item, index) in entranceList"
          :key="index"
          class="singleItem"
          @click="toDetail(item)"
        >
          <div
            class="imgItem"
            :style="{ backgroundImage: 'url(' + item.img + ')' }"
          ></div>
          <div class="textItem">{{ item.text }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { reactive } from 'vue'
import { useRouter } from 'vue-router'
const Router = useRouter()

const pic1 = new URL(
  '../assets/mainPics/Screenshot 2022-12-04 at 09.45.01.png',
  import.meta.url
).href
const pic2 = new URL(
  '../assets/mainPics/Screenshot 2022-12-04 at 09.53.51.png',
  import.meta.url
).href
const pic3 = new URL(
  '../assets/mainPics/Screenshot 2022-12-04 at 09.45.40.png',
  import.meta.url
).href
const pic4 = new URL(
  '../assets/mainPics/Screenshot 2022-12-11 at 20.53.42.png',
  import.meta.url
).href
const pic5 = new URL(
  '../assets/mainPics/Screenshot 2022-12-11 at 23.44.45.png',
  import.meta.url
).href
const pic6 = new URL(
  '../assets/mainPics/Screenshot 2022-12-18 at 22.00.58.png',
  import.meta.url
).href
const pic7 = new URL(
  '../assets/mainPics/2023-04-02 16.40.19.png',
  import.meta.url
).href
const entranceList = reactive([
  {
    text: 'Physics',
    img: pic1,
    name: 'physics',
  },
  {
    text: 'fox',
    img: pic2,
    name: 'fox',
  },
  {
    text: 'bigProject',
    img: pic3,
    name: 'bigProject',
  },
  {
    text: 'shader',
    img: pic4,
    name: 'shaderBeginning',
  },
  {
    text: 'animation',
    img: pic5,
    name: 'animation',
  },
  {
    text: 'donut',
    img: pic6,
    name: 'donut',
  },
  {
    text: 'light',
    img: pic7,
    name: 'light',
  },
])
const toDetail = (item) => {
  Router.push({
    name: item.name,
  })
}
</script>
<style scoped lang="less">
.centerCon {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 100vh;
}
.mainTitle {
  font-size: 30px;
  font-weight: 800;
}
.entranceCon {
  display: flex;
  justify-content: center;
  max-width: 850px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.entranceOuter {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.singleItem {
  cursor: pointer;
}
@media screen and (max-width: 799px) {
  .singleItem {
    margin-right: 0;
  }
}
@media screen and (min-width: 800px) {
  .singleItem {
    margin-right: 20px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
.imgItem {
  width: 400px;
  height: 222px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  //   background-image: url('https://developer.mozilla.org/assets/mdn_contributor.png');
}
.textItem {
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
