<template>
  <canvas class="webgl"></canvas>
</template>
<script setup>
import { onMounted } from 'vue'
import * as THREE from 'three'
import * as dat from 'lil-gui'
import { OrbitControls } from '@/utils/OrbitControls.js'
onMounted(() => {
  const gui = new dat.GUI()
  const scene = new THREE.Scene()
  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  }
  const canvas = document.querySelector('canvas.webgl')

  const camera = new THREE.PerspectiveCamera(
    75,
    sizes.width / sizes.height,
    0.1,
    100
  )
  camera.position.x = 1
  camera.position.y = 1
  camera.position.z = 2
  const controls = new OrbitControls(camera, canvas)
  controls.enableDamping = true
  scene.add(camera)

  const ambientLight = new THREE.AmbientLight(0xffffff, 0.5)
  gui.add(ambientLight, 'intensity').min(0).max(1).step(0.001)
  scene.add(ambientLight)

  const directionLight = new THREE.DirectionalLight(0xffffff, 0.5)
  directionLight.position.set(2, 2, -1)

  gui.add(directionLight, 'intensity').min(0).max(1).step(0.001)
  gui.add(directionLight.position, 'x').min(-5).max(5).step(0.001)
  gui.add(directionLight.position, 'y').min(-5).max(5).step(0.001)
  gui.add(directionLight.position, 'z').min(-5).max(5).step(0.001)

  scene.add(directionLight)
  directionLight.castShadow = true
  directionLight.shadow.mapSize.x = 1024
  directionLight.shadow.mapSize.y = 1024
  directionLight.shadow.radius = 16

  directionLight.shadow.camera.near = 1
  directionLight.shadow.camera.far = 6

  directionLight.shadow.camera.left = -2
  directionLight.shadow.camera.right = 2
  directionLight.shadow.camera.top = 2
  directionLight.shadow.camera.bottom = -2

  const DirectionalLightHelper = new THREE.CameraHelper(
    directionLight.shadow.camera
  )
  DirectionalLightHelper.visible = false
  scene.add(DirectionalLightHelper)
  const material = new THREE.MeshStandardMaterial()
  material.roughness = 0.7

  gui.add(material, 'metalness').min(0).max(1).step(0.001)
  gui.add(material, 'roughness').min(0).max(1).step(0.001)

  const sphere = new THREE.Mesh(new THREE.SphereGeometry(0.5, 32, 32), material)
  sphere.castShadow = true

  const plane = new THREE.Mesh(new THREE.PlaneGeometry(5, 5), material)
  plane.rotation.x = -Math.PI * 0.5
  plane.position.y = -0.5
  plane.receiveShadow = true
  scene.add(sphere, plane)

  const renderer = new THREE.WebGLRenderer({
    canvas: canvas,
  })
  renderer.setSize(sizes.width, sizes.height)
  renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  renderer.shadowMap.enabled = true
  renderer.shadowMap.type = THREE.PCFShadowMap

  window.addEventListener('resize', () => {
    sizes.width = window.innerWidth
    sizes.height = window.innerHeight

    // Update camera
    camera.aspect = sizes.width / sizes.height
    camera.updateProjectionMatrix()

    // Update renderer
    renderer.setSize(sizes.width, sizes.height)
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  })

  const clock = new THREE.Clock()

  const tick = () => {
    const elapsedTime = clock.getElapsedTime()

    controls.update()

    renderer.render(scene, camera)
    window.requestAnimationFrame(tick)
  }
  tick()
})
</script>
