<template>
  <canvas class="webgl"></canvas>
</template>
<script setup>
import { RouterLink, RouterView } from 'vue-router'
import { onMounted, onBeforeUnmount } from 'vue'
import GUI from 'lil-gui'
import * as THREE from 'three'
import { GLTFLoader } from 'three/examples/jsm/loaders/GLTFLoader'
import { OrbitControls } from '@/utils/OrbitControls.js'
import * as CANNON from 'cannon-es'
let guiInstance = {}
let hitSound = null
onBeforeUnmount(() => {
  guiInstance.destroy()
  hitSound.pause()
})
onMounted(() => {
  const scene = new THREE.Scene()
  const gui = new GUI()
  guiInstance = gui
  const debugObject = {}
  debugObject.envMapIntensity = 3
  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  }
  /*
light
 */
  const directionalLight = new THREE.DirectionalLight('#ffffff', 2)
  directionalLight.castShadow = true
  directionalLight.shadow.mapSize.set(1024, 1024)
  directionalLight.shadow.camera.far = 15
  directionalLight.shadow.normalBias = 0.05
  directionalLight.shadow.camera.left = -7
  directionalLight.shadow.camera.top = 7
  directionalLight.shadow.camera.right = 7
  directionalLight.shadow.camera.bottom = -7
  directionalLight.shadow.mapSize.set(1024, 1024)
  directionalLight.position.set(5, 1, 2.25)
  scene.add(directionalLight)

  gui
    .add(directionalLight, 'intensity')
    .min(0)
    .max(10)
    .step(0.001)
    .name('lightIntensity')

  gui
    .add(directionalLight.position, 'x')
    .min(-5)
    .max(5)
    .step(0.001)
    .name('lightX')

  gui
    .add(directionalLight.position, 'y')
    .min(-5)
    .max(5)
    .step(0.001)
    .name('lightY')

  gui
    .add(directionalLight.position, 'z')
    .min(-5)
    .max(5)
    .step(0.001)
    .name('lightZ')

  /* HDR */
  const HdrLink1 = new URL('../assets/HDR/px.jpg', import.meta.url).href
  const HdrLink2 = new URL('../assets/HDR/nx.jpg', import.meta.url).href
  const HdrLink3 = new URL('../assets/HDR/py.jpg', import.meta.url).href
  const HdrLink4 = new URL('../assets/HDR/ny.jpg', import.meta.url).href
  const HdrLink5 = new URL('../assets/HDR/pz.jpg', import.meta.url).href
  const HdrLink6 = new URL('../assets/HDR/nz.jpg', import.meta.url).href

  const cubeTextureLoader = new THREE.CubeTextureLoader()
  const environmentMap = cubeTextureLoader.load([
    HdrLink1,
    HdrLink2,
    HdrLink3,
    HdrLink4,
    HdrLink5,
    HdrLink6,
  ])
  environmentMap.encoding = THREE.sRGBEncoding
  scene.background = environmentMap

  const updateAllMaterials = () => {
    scene.traverse((child) => {
      if (
        child instanceof THREE.Mesh &&
        child.material instanceof THREE.MeshStandardMaterial
      ) {
        child.material.envMap = environmentMap
        child.material.envMapIntensity = debugObject.envMapIntensity

        // child.material.envMapIntensity = 3

        child.castShadow = true
        child.receiveShadow = true
      }
    })
  }

  gui
    .add(debugObject, 'envMapIntensity')
    .min(0)
    .max(10)
    .step(0.001)
    .onChange(updateAllMaterials)

  /* physical */

  const world = new CANNON.World()
  world.broadphase = new CANNON.SAPBroadphase(world)
  world.allowSleep = true
  world.gravity.set(0, -10.82, 0)

  const concreteMaterial = new CANNON.Material('concrete')
  const plasticMaterial = new CANNON.Material('plastic')
  const defaultMaterial = new CANNON.Material('default')

  const defaultContactMaterial = new CANNON.ContactMaterial(
    defaultMaterial,
    defaultMaterial,
    {
      friction: 0.1,
      restitution: 0.7,
    }
  )

  const concretePlasticContactMaterial = new CANNON.ContactMaterial(
    concreteMaterial,
    plasticMaterial,
    {
      friction: 0.1,
      resitution: 0.7,
    }
  )

  world.addContactMaterial(concretePlasticContactMaterial)
  world.addContactMaterial(defaultContactMaterial)

  world.defaultContactMaterial = defaultContactMaterial

  const floorShape = new CANNON.Plane()
  const floorBody = new CANNON.Body()
  //   floorBody.material = defaultMaterial
  floorBody.mass = 0
  floorBody.addShape(floorShape)
  floorBody.quaternion.setFromAxisAngle(
    new CANNON.Vec3(-1, 0, 0),
    Math.PI * 0.5
  )
  world.addBody(floorBody)

  /*
   model
    */
  const modelUrl = new URL('../assets/JadeToad.glb', import.meta.url).href
  const gltfLoader = new GLTFLoader()
  gltfLoader.load(modelUrl, (gltf) => {
    // console.log('gltf', gltf)
    // console.log(gltf.scene)
    gltf.scene.position.y = 2.1
    gltf.scene.position.x = -12
    gltf.scene.scale.set(0.1, 0.1, 0.1)
    scene.add(gltf.scene)
    gui
      .add(gltf.scene.rotation, 'y')
      .min(-Math.PI)
      .max(Math.PI)
      .step(0.001)
      .name('rotation')
    updateAllMaterials()
  })

  const stoneUrl = new URL('../assets/sttt.glb', import.meta.url).href
  const gltfStoneLoader = new GLTFLoader()
  gltfStoneLoader.load(stoneUrl, (gltf) => {
    // console.log('gltf', gltf)
    // console.log(gltf.scene)
    gltf.scene.position.x = 14
    gltf.scene.position.y = 0.7
    // gltf.scene.scale.set(0.1, 0.1, 0.1)
    scene.add(gltf.scene)
    updateAllMaterials()
  })



  /*
camera
*/
  const camera = new THREE.PerspectiveCamera(
    75,
    sizes.width / sizes.height,
    0.1,
    100
  )
  camera.position.set(3, 3, 5)
  // camera.lookAt(3, 3, 3)
  scene.add(camera)

  /* floor */
  const floor = new THREE.Mesh(
    new THREE.PlaneGeometry(30, 30),
    new THREE.MeshStandardMaterial({
      color: '#777777',
      metalness: 0.3,
      roughness: 0.4,
      envMap: environmentMap,
      envMapIntensity: 0.5,
      side: THREE.DoubleSide,
    })
  )

  floor.receiveShadow = true
  floor.rotation.x = -Math.PI * 0.5
  scene.add(floor)

  /* utils */
  const Sound = new URL('../assets/sounds/hit.mp3', import.meta.url).href
  hitSound = new Audio(Sound)
  const playHitSound = (event) => {
    const impactStrength = event.contact.getImpactVelocityAlongNormal()
    if (impactStrength > 1.5) {
      hitSound.volume = Math.random()
      hitSound.currentTime = 0
      hitSound.play()
    }
  }
  const objectsToUpdate = []
  const sphereGeometry = new THREE.SphereGeometry(1, 20, 20)
  const sphereMaterial = new THREE.MeshStandardMaterial({
    metalness: 0.3,
    roughness: 0.4,
    envMap: environmentMap,
    envMapIntensity: 0.5,
  })
  const createSphere = (radius, position) => {
    const mesh = new THREE.Mesh(sphereGeometry, sphereMaterial)
    mesh.castShadow = true
    mesh.scale.set(radius, radius, radius)
    mesh.position.copy(position)
    scene.add(mesh)

    const shape = new CANNON.Sphere(radius)
    const body = new CANNON.Body({
      mass: 1,
      position: new CANNON.Vec3(0, 3, 0),
      shape,
      material: defaultMaterial,
    })
    body.position.copy(position)
    body.addEventListener('collide', playHitSound)
    world.addBody(body)

    objectsToUpdate.push({
      mesh,
      body,
    })
  }
  debugObject.createSphere = () => {
    // createSphere(0.5, { x: 0, y: 3, z: 0 })
    createSphere(Math.random() * 0.5, {
      x: (Math.random() - 0.5) * 3,
      y: 3,
      z: (Math.random() - 0.5) * 3,
    })
    updateAllMaterials()
  }
  gui.add(debugObject, 'createSphere')

  const boxGeometry = new THREE.BoxGeometry(1, 1, 1)
  const boxMaterial = new THREE.MeshStandardMaterial({
    metalness: 0.3,
    roughness: 0.4,
    envMap: environmentMap,
    envMapIntensity: 0.5,
  })

  const createBox = (width, height, depth, position) => {
    const mesh = new THREE.Mesh(boxGeometry, boxMaterial)
    mesh.scale.set(width, height, depth)
    mesh.castShadow = true
    mesh.position.copy(position)
    scene.add(mesh)

    const shape = new CANNON.Box(
      new CANNON.Vec3(width * 0.5, height * 0.5, depth * 0.5)
    )
    const body = new CANNON.Body({
      mass: 1,
      position: new CANNON.Vec3(0, 3, 0),
      shape,
      material: defaultMaterial,
    })
    body.position.copy(position)
    body.addEventListener('collide', playHitSound)
    world.addBody(body)
    objectsToUpdate.push({ mesh, body })
  }
  createBox(1, 1.5, 2, { x: 0, y: 0, z: 0 })

  debugObject.createBox = () => {
    createBox(Math.random(), Math.random(), Math.random(), {
      x: (Math.random() - 0.5) * 3,
      y: 3,
      z: (Math.random() - 0.5) * 3,
    })
    updateAllMaterials()
  }
  gui.add(debugObject, 'createBox')

  debugObject.reset = () => {
    for (const object of objectsToUpdate) {
      object.body.removeEventListener('collide', playHitSound)
      world.removeBody(object.body)
      scene.remove(object.mesh)
    }
    objectsToUpdate.splice(0, objectsToUpdate.length)
    console.log('objectsToUpdate', objectsToUpdate)
  }
  gui.add(debugObject, 'reset')

  /* sounds */

  const canvas = document.querySelector('.webgl')
  /*
  controls
  */
  const controls = new OrbitControls(camera, canvas)
  //   controls.target.set(0, 0.5, 1)
  controls.enableDamping = true

  const renderer = new THREE.WebGLRenderer({
    canvas: canvas,
    antialias: true,
  })
  renderer.physicallyCorrectLights = true
  renderer.outputEncoding = THREE.sRGBEncoding
  renderer.toneMapping = THREE.ACESFilmicToneMapping
  renderer.toneMappingExposure = 1
  renderer.shadowMap.enable = true
  renderer.shadowMap.type = THREE.PCFShadowMap
  renderer.setSize(sizes.width, sizes.height)
  renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  //   scene.add(axesHelper)
  renderer.render(scene, camera)
  window.addEventListener('resize', () => {
    sizes.width = window.innerWidth
    sizes.height = window.innerHeight
    camera.aspect = sizes.width / sizes.height
    camera.updateProjectionMatrix()
    renderer.setSize(sizes.width, sizes.height)
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  })

  gui.add(renderer, 'toneMapping', {
    No: THREE.NoToneMapping,
    LInear: THREE.LinearToneMapping,
    Reinhard: THREE.ReinhardToneMapping,
    Cineon: THREE.CineonToneMapping,
    ACESilmic: THREE.ACESFilmicToneMapping,
  })
  gui.add(renderer, 'toneMappingExposure').min(0).max(10).step(0.001)

  const clock = new THREE.Clock()
  let previousTime = 0
  const tick = () => {
    const elapsedTime = clock.getElapsedTime()
    const deletaTime = elapsedTime - previousTime
    previousTime = elapsedTime
    world.step(1 / 60, deletaTime, 3)

    for (const object of objectsToUpdate) {
      object.mesh.position.copy(object.body.position)
      object.mesh.quaternion.copy(object.body.quaternion)
    }

    controls.update()
    renderer.render(scene, camera)
    window.requestAnimationFrame(tick)
  }
  tick()
})
</script>
