<template>
  <div>
    <canvas class="webgl3"></canvas>
  </div>
</template>
<script setup>
import { onMounted, onBeforeUnmount } from 'vue'
import * as THREE from 'three'
import * as dat from 'lil-gui'
import { OrbitControls } from '@/utils/OrbitControls'
import vertexShader from './vertexShader.glsl?raw'
import fragmentShader from './fragmentShader.glsl?raw'
const pic1 = new URL('../../assets/flag-french.jpg', import.meta.url).href
let guiInstance = {}
onMounted(() => {
  const canvas = document.querySelector('canvas.webgl3')
  const gui = new dat.GUI()
  guiInstance = gui
  const scene = new THREE.Scene()
  const textureLoader = new THREE.TextureLoader()
  const flagTexture = textureLoader.load(pic1)
  const geometry = new THREE.PlaneGeometry(1, 1, 32, 32)
  //   const material = new THREE.MeshBasicMaterial({
  //     side: THREE.DoubleSide,
  //   })
  const count = geometry.attributes.position.count
  const preRandomArray = new Array(count).fill({ value: 0 })
  preRandomArray.forEach((ele) => (ele.value = Math.random()))
  let pureValue = preRandomArray.map((ele) => {
    return ele.value
  })
  const randoms = Float32Array.from(pureValue)

  geometry.setAttribute('aRandom', new THREE.BufferAttribute(randoms, 1))
  const material = new THREE.ShaderMaterial({
    vertexShader,
    fragmentShader,
    side: THREE.DoubleSide,
    uniforms: {
      uFrequency: { value: new THREE.Vector2(10, 5) },
      uTime: { value: 0 },
      uColor: { value: new THREE.Color('#762') },
      uTexture: { value: flagTexture },
    },
    // transparent: true,
    // wireframe: true,
  })
  gui
    .add(material.uniforms.uFrequency.value, 'x')
    .min(0)
    .max(20)
    .step(0.01)
    .name('frequnencyX')
  gui
    .add(material.uniforms.uFrequency.value, 'y')
    .min(0)
    .max(20)
    .step(0.01)
    .name('frequnencyY')
  const mesh = new THREE.Mesh(geometry, material)
  //   console.log('mesh', mesh)
  mesh.scale.y = 2 / 3
  scene.add(mesh)

  const sizes = {
    width: window.innerWidth,
    height: window.innerHeight,
  }

  window.addEventListener('resize', () => {
    sizes.width = window.innerWidth
    sizes.height = window.innerHeight
    camera.aspect = sizes.width / sizes.height
    camera.updateProjectionMatrix()
    renderer.setSize(sizes.width, sizes.height)
    renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))
  })

  const camera = new THREE.PerspectiveCamera(
    75,
    sizes.width / sizes.height,
    0.1,
    100
  )

  camera.position.set(0.25, -0.25, 1)
  scene.add(camera)

  const controls = new OrbitControls(camera, canvas)
  controls.enableDamping = true

  const renderer = new THREE.WebGLRenderer({
    canvas: canvas,
  })
  renderer.setSize(sizes.width, sizes.height)
  renderer.setPixelRatio(Math.min(window.devicePixelRatio, 2))

  const clock = new THREE.Clock()
  const tick = () => {
    const elapsedTime = clock.getElapsedTime()
    material.uniforms.uTime.value = elapsedTime
    controls.update()

    renderer.render(scene, camera)
    window.requestAnimationFrame(tick)
  }
  tick()
})
onBeforeUnmount(() => {
  guiInstance.destroy()
})
</script>
